<h4>Edit Item</h4>
<label>New Item Name:</label>
<input [(ngModel)]="selectedItem.name">
<br>
<label>New Author:</label>
<input [(ngModel)]="selectedItem.author">
<br>
<label>New Item Description:</label>
<input [(ngModel)]="selectedItem.description">
<br>
<label>New Goal:</label>
<input [(ngModel)]="selectedItem.goal">
<br>
<label>New Category:</label>
<select [(ngModel)]="selectedItem.category">
  <option value="" selected disabled>Select Category</option>
  <option value="Ideas">Ideas</option>
  <option value="Projects">Projects</option>
  <option value="Charity">Charitable Acts</option>
</select>

<br>

<button (click)="beginUpdatingItem(selectedItem)">Update</button>
<hr>
<button (click)="beginDeletingItem(selectedItem)">Delete</button>
